@model IEnumerable<types.Models.Typex>
@{
    ViewBag.Title = "Index";
}

<h2>Types</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Calling Code
        </th>
    </tr>

@foreach (var type in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=type.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=type.id })
        </td>
        <td>
            @type.name
        </td>
        <td>
            @type.callcode
        </td>
    </tr>
}

</table>