@model IEnumerable<Mvc3Razor.Models.UserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

<script type="text/javascript">
    $(document).ready(function() {
        $("#divTabs").tabs();
        $("#date").datepicker({ showButtonPanel: true });
        $("#btnTest").button();
        $("#date2").datepicker();
    });
</script>
<style type="text/css">
    .ui-datepicker { font-size:8pt !important}
    .ui-button { font-size:10pt !important}
    .ui-tabs { font-size:10pt !important}
</style>
 
<h2>Index</h2>
<div id="divTabs" style="width: 400px;">
    <ul>
        <li><a href="#tabTest">Test 1</a></li>
        <li><a href="#tabTest2">Test 2</a></li>
        <li><a href="#tabTest3">Test 3</a></li>
    </ul>
    <div id="tabTest">
        <input id="date" type="text" style="width: 100px;" />
        <br />
        <input type="button" id="btnTest" value="A Testbutton" />
    </div>
    <div id="tabTest2">
        This is the second tab.
    </div>
    <div id="tabTest3">
        <p>This is the third tab.</p>
    </div>
</div>

<div >
    <input type="text" name="date2" id="date2" />
    <input class="ui-button ui-widget ui-corner-all" type="button" value="A submit butto" />
</div>

    

    <table>
        <tr>
            <th></th>
            <th>
                Object ID
            </th>
            <th>
                UserName
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                City
            </th>
            <th>Employee Code 
                </th>

        </tr>

    @foreach (var item in Model) {
    
        <tr>
            <td>
				@Html.ActionLink("Edit", "Edit", new {  id=item.UserName  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.UserName  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.UserName  })
            </td>
            <td>
                @item._id
            </td> 
            <td>
                @item.UserName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.EmployeeCode
                </td>
        </tr>
    
    }

    </table>


