@model IEnumerable<Mvc3Razor.Models.UserModel>

@{
    ViewBag.Title = "Member/Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Member/Users</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

<script type="text/javascript">
    $(document).ready(function() {
        $("#divTabs").tabs();
        $("#date").datepicker({ showButtonPanel: true });
        $("#btnTest").button();
        $("#date2").datepicker();
    });
</script>
<style type="text/css">
    .ui-datepicker { font-size:8pt !important}
    .ui-button { font-size:10pt !important}
    .ui-tabs { font-size:10pt !important}
</style>
 
    <table>
        <tr>
            <th></th>
            <th>
                Object ID
            </th>
            <th>
                UserName
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                City
            </th>
            <th>Employee Code 
                </th>

        </tr>

    @foreach (var item in Model) {
    
        <tr>
            <td>
				@Html.ActionLink("Edit", "Edit", new {  id=item.UserName  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.UserName  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.UserName  })
            </td>
            <td>
                @item._id
            </td> 
            <td>
                @item.UserName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.EmployeeCode
                </td>
        </tr>
    
    }

    </table>


